$module-bkg: #fff;
$module-shadow-color: #e4e4e6;

//字体
$base-font-family: PingFangSC-Regular, sans-serif, 'Miscrosoft Yahei';
$base-font-family2: PingFangSC-Light, sans-serif, 'Miscrosoft Yahei';
$base-font-family3: PingFangSC-Medium, sans-serif, 'Miscrosoft Yahei';

//边框
$borderDash: 1px dashed #e5e5e5;
$borderE5: 1px solid #e5e5e5;
$borderD8: 1px solid #d8d8d8;
$commonGrayBorder: 1px solid #efefef;

//阴影
$commonBoxShadow: 0px 2px 10px #dedede;
$commonBoxShadow2: 0px 1px 1px #dedede;

//色值
$commonGreen: #12b560;
$commonGreen2: #09bb07;
$lightGreen: #ecffed;
$bkgDisabled: #cacaca;
$commonBkg: #f4f4f4;
$colorNoExist: #999;
$colorPrice: #fd8e0e;
$colorFailed: #fa4d45;
$colorwaring: #ffa00b;
$colorSuccess: #1caa4e;
$colorFinish: #999999;
